<div id ="loginPage">
    <div id="loginContainer">
        <h1>Enter name to start experience</h1>
        <input id = "usernameInput" type = "text" placeholder="Enter username"></input>
        <button id = "loginButton">Swag</button>
    </div>
</div>